.testimonials_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 50px;
}

.label {
  width: fit-content;
  margin-top: 30px;
  padding: 15px 30px;
  height: fit-content;
  background-color: #004652;
  color: white;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}

.services {
  overflow: hidden;
  height: fit-content;
  display: flex;
  width: 900px;
  max-width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.service_block {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.5s ease-in-out;
  display: grid;
  /* grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(8.5, 100px); */
  grid-gap: 10px;
}

.service:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.service:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.service:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.service:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}

.service:nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 7;
}

.service:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.service,
.service img {
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.active {
  /* transform: scale(1.1); */
  z-index: 2;
  cursor: pointer;
}

.active img {
  border-radius: 10px;
}

.active .details {
  opacity: 1;
}

.service_details {
  position: absolute;
  bottom: 2px;
  left: 0%;
  z-index: 2;
  width: 100%;
  padding: 6px;
}

.details {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.service_title {
  font-weight: 600;
}

.service_achievement {
  font-weight: 200;
  margin-top: 8px;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .details {
    display: none;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 1.8rem;
    width: 70%;
  }
}
