.question_container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 30px;
  text-align: start;
  color: white;
  border-radius: 10px;
  border: 1.2px solid #004652;
  background-color: rgba(0, 70, 82, 0.2);
}

.question_container button {
  width: fit-content;
}

.step_btn {
  padding: 10px 30px;
  border: none;
  background-color: rgba(122, 209, 161, 0.2);
  color: #7ad1a1;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  border-radius: 6px;
}

.question {
  margin-top: 20px;
  font-size: 1.3rem;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: white;
  color: black;
  width: 60%;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  clip-path: polygon(90% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr_line {
  height: 40px;
  width: 3px;
  border-radius: 8px;
  background-color: #cccccc;
  margin-right: 15px;
  line-height: 1.2;
}

.options {
  margin-top: 20px;
}

.options_title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.option {
  font-size: 1rem;
  margin-left: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.option input {
  margin-right: 10px;
  padding: 10px;
  height: 15px;
  width: 15px;
  border-radius: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.next_btn {
  padding: 12px 30px;
  border: none;
  background-color: #7ad1a1;
  color: black;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  border-radius: 6px;
}

.back_btn {
  padding: 12px 30px;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%, 1% 85%);
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .checkboxes {
    width: 100%;
  }
  .question_container {
    padding: 10px;
  }
}
