.welcome_page_container {
  position: relative;
  height: fit-content;
  min-height: calc(100vh);
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.backdrop_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.left_container {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 30px 80px;
  color: white;
  justify-content: center;
}

.welcome_text {
  font-size: 2.8rem;
  font-weight: 200;
  line-height: 1.2;
  margin-top: 50px;
}

.highlight {
  display: block;
  font-weight: 900;
}

.sub_text {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.sub_text p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 20px;
}

.hr_line {
  position: absolute;
  left: 0%;
  height: 90%;
  width: 5px;
  border-radius: 8px;
  background-color: #7ad1a1;
  margin-right: 15px;
  line-height: 1.2;
}

.contact_btn {
  color: black;
  position: relative;
  margin-top: 30px;
  border: none;
  padding: 15px 40px;
  background-color: transparent;
  width: fit-content;
  border-radius: 10px;
  border-top-right-radius: 20px;
  background-color: #7ad1a1;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
  text-decoration: none;
}

.data {
  margin-top: 50px;
  border: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.data_item {
  font-size: 1.6rem;
}

.data_item_text {
  margin-top: 8px;
  display: block;
  font-size: 0.8rem;
}

.right_container {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 30px 80px;
  color: white;
  justify-content: center;
}

@media (max-width: 1200px) {
  .left_container,
  .right_container {
    padding: 30px;
  }
}

@media (max-width: 1000px) {
  .right_container {
    padding: 20px;
    width: 100%;
    margin-bottom: 50px;
  }
  .welcome_text {
    font-size: 2.2rem;
  }
  .sub_text p {
    font-size: 1rem;
  }
  .left_container {
    width: 100%;
    padding: 50px;
  }
  .data {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .left_container {
    padding: 20px;
  }
}
