.header {
  height: 100px;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  top: 0%;
  width: 100%;
  z-index: 9;
}

.header a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.header_list li {
  margin: 15px;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(0% - 10px);
  right: calc(0% - 10px);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #7ad1a1;
}

.contact_btn {
  margin-left: 20px;
  padding: 15px;
  background-color: #004652;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Alebert Sans";
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
}

.contact_btn img {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .header_list {
    display: none;
  }
  .header {
    padding: 10px 50px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px 20px;
  }
}
