.testimonials_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  width: fit-content;
  margin-top: 30px;
  padding: 15px 30px;
  height: fit-content;
  background-color: #004652;
  color: white;
  clip-path: polygon(85% 1%, 100% 40%, 100% 100%, 0 99%, 0 0);
}

.title {
  width: 40%;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}

.testimonials {
  overflow: hidden;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}

.testimonial {
  position: relative;
  min-width: calc((100% - 40px) / 3);
  height: 100%;
  background-color: white;
  color: black;
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
}

.active {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
}

.active::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #306670;
}

.active::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #004652;
}

.quote {
  margin-top: 20px;
  position: absolute;
  left: 30px;
}

.feedback {
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: 300;
}

.user {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.user_name {
  font-size: 1.2rem;
  font-weight: 600;
}

.user_details {
  margin-left: 20px;
}

.user_position {
  font-weight: 200;
}

.stars {
  margin-top: 20px;
}
