.footer_container {
  height: fit-content;
  width: 100%;
  padding: 40px 60px;
  background-color: #014753;
  color: white;
}

.sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.9rem;
}

.section_title {
  font-weight: 700;
}

.footer_link {
  font-weight: 400;
}

.footer_link:hover {
  cursor: pointer;
  color: #8bd7ae;
}

.socials {
  margin-top: 10px;
}

.social_icon {
  margin-right: 10px;
}

.footer_container hr {
  margin: 30px 0px;
}

.terms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 900px) {
  .footer_container {
    padding: 20px;
  }
}
